.Sidebar {
    position: absolute;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;

    height: 100vh;

    background: #404040B0;
    backdrop-filter: blur(4px);
    font-size: 14pt;
    color: #DDDDDD;

    width: max-content;

    transition: width 0.3s;
    z-index: 1000;
}

.Sidebar_open {
    width: 200pt;
}

.Sidebar_closed {
    width: 40pt;
}

.Sidebar__spacer {
    height: 28pt;
}

.SidebarItem__container {
    padding-top: 9pt;

    transition: color 0.1s;
}

.SidebarItem__container:hover {
   color: #A0A0A0;
   cursor: pointer;
}

.SidebarItem__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 40pt;
}

.SidebarItem__text {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    max-width: 200pt;
    transition: max-width .3s,;

    overflow: hidden;
}

.SidebarItem__text_open {
    max-width: 160pt;
}

.SidebarItem__text_closed {
    max-width: 0pt;
}