.SVGGraph {
    position: relative;
    width: 100%;
    height: 100vh;
}

.SVGGraph__graph {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.SVGGraph__graph_pan {
    cursor: grab;
}

.SVGGraph__plot {
    stroke: white;
    stroke-width: 1px;
    fill: none;
}

.SVGGraph__cursor {
    stroke: white;
}

.SVGGraph__textBox {
    color: #121212;
    fill-opacity: 0.4;
}

.SVGGraph__text {
    fill: white;
    font-size: 10pt;
}

.SVGGraph__text_small {
    fill: white;
    font-size: 8pt;
}

.SVGGraph__xAxis {
    stroke: white;
    stroke-width: 1px;
    fill: none;
}